<footer>
    <div class="container-fluid text-center bg-dark py-3 footer-style" style="min-width: 700px;">
        <div class="row mb-3">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/user_page">User Page</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <p>&copy; 2024 The Store Company. All rights reserved.</p>
        </div>
        
    </div>
    
</footer>