<!-- Top header, include this header in your page-->
<div class="container-fluid bg-dark py-3" style="min-width: 700px;">
    <div class="d-flex justify-content-between align-items-center">
    <!-- Website icon - NOTICE! We need to change the icon later !!!! -->
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pinclipart.com%2Fpicdir%2Fbig%2F211-2116571_website-website-logo-png-transparent-background-clipart.png&f=1&nofb=1&ipt=8b150f897a944d28f0d5160711bc6a78226ffd74d152654bdace87cc91f64ce5&ipo=images" width="40" height="40" id="homepage-btn" role="button"></img>
        <!-- Search bar in the middle -->
        <form class="w-50">
            <div class="input-group flex-nowrap rounded-pill">
                <div class="input-group-text mt-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </div>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
        </form>
        <div>
            <!-- Button to shopping cart -->
            <button type="button" id="cart-btn" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
            </button>
            <!-- Button to personal page -->
            <button type="button" id="userpage-btn" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#userpage-btn").click(function() {
            location.href = '/user_page'
        })
        $("#homepage-btn").click(function(){
            location.href = '/'
        })
        $("#cart-btn").click(function(){
            location.href = '/cart'
        })
    })

    // @Noa please add the search engine routine :)
</script>