<div class="col-2 p-0">
    <div class="me-2 ms-2 p-3 bg-white">
        <b>You may be interested in</b>
        <ul class="list-group align-center">
            <% for(let i=0; i < items_rebuy.length; i++) { %>
                <li class="list-group-item bg-transparent border border-0 text-center">
                    <div class="py-2 align-center">
                        <img src= "<%=items_rebuy[i].picture%>" class="img-fluid" style="max-width: 100px; max-height: 125px;"></img>
                        <div class="px-2">
                            <%=items_rebuy[i].name.substring(0,75)%>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </div> 
</div>