<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "About US"}); %>
        <script type="module" src="/about.js"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
    </head>
    
    <header>
        <%- include('./partials/header'); %>
    </header>

    <body>
        <div class="main-div">
            <section class="mt-5 text-center text-wrap text-break" style="max-width: 35%; margin: 0 auto;">
                <h1>
                    About US
                </h1>
                <p>
                    Today, there's no need to spend all your precious time finding
                    assets availabe on the market.
                </p>
                <p class="mb-5">
                    <b>The Shop Company</b> will help you find the best real Estate
                    which fits you. With a team of the best real estate agents we will
                    help you find the one which fits you the most in the hottest location available!
                </p>

                <video controls autoplay class="intro-video rounded" style="max-width: 100%;">
                    <source src="/multimedia/intro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>

            </section>

            <section class="mt-5 text-center">
                <h1>
                    Statistics
                </h1>
                <p>In Progress...</p>

            </section>
            
            <section class="mt-5 mb-2 text-center text-wrap text-break" style="max-width: 35vw; margin: 0 auto;">
                    <h1>
                        Let's Grab A Coffee
                    </h1>
                    <p>
                        We understand buying real esate online is not for everyone.
                        feels like you need a coffee time consulting with us?<br>
                        You are welcome to visit us at the closest branch to your house!
                    </p>
                    <h5>
                        Click the closest pointer available at your location to get the branch information
                    </h5>
            </section>
            
            
            <div class="container-fluid my-5">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="rounded" id="map" style="min-height: 800px;"></div> 
                    </div>
                </div>

                <div class="row d-flex mt-5 justify-content-center align-items-center">
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        <div class="card p-3 rounded bg-primary border-0" id="map-result" style="display: none;">
                            <div class="card-body text-light">
                                <h1 class="card-title" id="branch-name"></h1>
            
                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-geo-alt-fill me-2 fs-5"></i>
                                    <h4 class="mb-0" id="branch-address"></h4>
                                    </div>
            
                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-telephone-fill me-2 fs-5"></i>
                                    <h4 class="mb-0" id="branch-phone"></h4>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <script
            src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS_TOKEN %>&callback=initMap&v=weekly&language=he&region=I&Loading=async"
            defer
            ></script>
        </div>
        <%- include('./partials/footer'); %>
    </body>
</html>