<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Personal Page"}); %>
    </head>
    <header>
        <%- include('./partials/header'); %>
    </header>
    </body>
        <div class="position-relative w-100">
            <div class="w-75 h-100 mt-5 bg-transparent position-absolute top-50 start-50 translate-middle">
                <div class="bg-secondary p-3 border border-bottom-0 rounded-top">
                    <div class="row">
                        <div class="col">
                            Order id:
                        </div>
                        <div class="col">
                            Date:
                        </div>
                        <div class="col">
                            Total:
                        </div>
                    </div>
                </div>
                <div class ="bg-light p-3 border rounded-bottom">
                    <ul class="list-group">
                        <li class="list-group-item bg-light border border-0">
                            <div class="d-flex py-2 justify-content-between align-items-center">
                                <div class="w-15">
                                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.fourthnight.com%2Fwp-content%2Fuploads%2F2006%2F04%2Ftoilet-paper.jpg&f=1&nofb=1&ipt=7c03a1fdc0dfbadfbfd492f0d37bf3392a45dfba40c0886cb32e169a72b810db&ipo=images" class="img-fluid"></img> 
                                </div>
                                <div class="w-60">
                                    Item name
                                </div>
                                <div class="w-25">                             
                                    Item price
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-light border border-0">A second item</li>
                        <li class="list-group-item bg-light border border-0">A third item</li>
                        <li class="list-group-item bg-light border border-0">A fourth item</li>
                        <li class="list-group-item bg-light border border-0">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>    
    </body>
</html>