<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Welcome"}); %>
    </head>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <body>
        <div class="position-relative w-100" style="min-width: 700px;">
            <div class="w-75 h-100 mt-5 bg-transparent position-absolute top-50 start-50 translate-middle">
                
            </div>
        </div>
        <%- include('./partials/footer'); %>    
    </body>
</html>