<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Shipping info"}); %>
    </head>
    <body>
        <div>
            its me
        </div>
    </body>
</html>