<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Sign-In"}); %>
    </head>
    <body class="bg-dark p-5 mb-2">
        <div class="main-div parent container border border-secondary-subtle border-2 text-start position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-top align-items-center parent container rounded bg-light-subtle bg-gradient p-4" style="width: 35%; height: 70%; min-width: 500px; min-height: 600px;">
            <div class="w-100 h-100">
                <h1 class="text-start pl-1">
                    Sign in
                </h1>
                <div id="user-tab" class="tab">
                    <div class="form-data mt-1">
                        <label for="username">Email or mobile phone number</label>
                        <input type="text" id="username" class="form-control" name="username" autofocus="autofocus" placeholder="Username">
                    </div>
                    <br>
                    <button id="continue" class="btn btn-primary w-100">Continue</button>
                    <br>
                    <p id="wronguser" class="fw-bold text-danger d-none">Username does not exist!</p>
                    <div class="mt-2">
                        By continuing, you agree to Website's <a href="/policies?page=privacy_policy">Privacy Policy</a>
                    </div>
                    <br><br>
                    <div class="mt-2">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
                            Need help?
                        </button>
                        <div class="collapse mt-1" id="collapseHelp">
                            <a href="./help">
                                Forgot your password?
                            </a>
                            <br>
                            <a href="/policies?page=password_qna">
                                Other issues with Sign in?
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <div id="register" class="text-center position-absolute bottom-0 start-50 translate-middle">
                        <p>New to Website?</p>
                        <a class="btn btn-primary" role="button" href="/login/register">Create your Website account</a>
                    </div>
                </div>
                <div id="password-tab" class="tab d-none">
                    <div class="form-data mt-1">
                        <label for="password">Password</label>
                        <div class="input-group mt-2 align-items-center">    
                            <input id="password" type="password" class="form-control" name="password">
                            <button class="bi bi-eye-slash btn btn-outline-secondary" type="button" id="togglePasswordDisplay"></button>
                        </div>
                    </div>
                    <div class="input-group mt-2 align-items-center">
                        <input id="keepsignedin" class="form-check-input mt-0 me-2" type="checkbox" value="">
                        Keep me signed in?
                    </div>
                    <br>
                    <button id="sign-in" class="btn btn-primary w-100">Sign in</button>
                    <br><br>
                    <p id="wrongpassword" class="text-danger fw-bold d-none">Wrong password!</p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                var username = null
                var onPassword = false
                $("#continue").click(function() {
                    username = $("#username").val()
                    $.post('/user/validate_username', {username}).done(function(data) {
                        if(data) {
                            $("#user-tab").addClass("d-none")
                            $("#password-tab").removeClass("d-none")
                            $("#password").focus()
                            onPassword = true
                        }
                        else {
                            $("#wronguser").removeClass("d-none")
                        }
                    })
                })
                $("#sign-in").click(function() {
                    var password = $("#password").val()
                    var keepsigned = $("#keepsignedin").val()
                    $.post('/login', {username, password, keepsigned}).done(function(data) {
                        if (data) {
                            location.href = "/"
                        }
                        else {
                            $("#wrongpassword").removeClass("d-none")
                        }
                    })
                })
                $(document).on('keypress',function(e) {
                    if(e.which == 13) { // Pressed enter
                        if (!onPassword) {
                            $("#continue").click()
                        } else {
                            $("#sign-in").click()
                        }
                    }
                });
                current = "bi-eye-slash"
                $("#togglePasswordDisplay").click(function() {
                    old = current
                    current = current == "bi-eye-slash" ? "bi-eye" : "bi-eye-slash"
                    passwordType = current == "bi-eye-slash" ? "password" : "text"
                    $(this).removeClass(old);
                    $(this).addClass(current);
                    $("#password").attr("type", passwordType);
                    
                })
            })
        </script>
    </body>
</html>