<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {title: "Website: Personal Page"}); %>
    </head>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <body class="bg-light">
        <div class="top-margin">
			
        </div>
    </body>
</html>