@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 50px;
  font: 16px "Poppins Regular", "Heebo";
}

h1 {
  font-weight: 800;
}

div {
  min-width: 800px
}

a {
  color: #00B7FF;
}


html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-holder {
  div {
    min-width: 0;
  }
}


.maps-user-tag {
  background-color: #3d5377;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 15px;
  position: relative;
}

.maps-user-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #3d5377;
}


#map-click-result {
  min-height: 200px;
  min-width: 200px;

  .row {
    margin-bottom: 20px;
  }

}