body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.w-15 {
  width: 15%;
}

.w-60 {
  width: 60%;
}

.main-div {
  min-width: 700px;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: all .05s linear
}

.zoom-container {
  overflow: hidden;
}